<footer class="footer">
  <div class="container footer__content">

    <%= image_tag "logo_noir_gomuscu_big.png", class: "footer__logo", alt: "GoMuscu" %>

    <div class="footer__social">
      <span>Follow us:</span>
      <div class="footer__icons">
        <a href="#" class="footer__icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="footer__icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="footer__icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="footer__icon"><i class="fab fa-telegram-plane"></i></a>
      </div>
    </div>

  </div>
</footer>
