<ul class="position-sticky sticky-top nav flex-column">
  <div class="list-group list-group-flush program-nav">
    <% programs.each do |program| %>
      <%= link_to program.workout, program_path(program), class: "list-group-item list-group-item-action" %>
    <% end %>
  </div>
</ul>
