<div class="program-nav">
  <% programs.each do |program| %>
    <%= link_to program_path(program), class: "program-card" do %>
      <% if program.image.attached? %>
        <%= image_tag program.image, class: "program-card__img" %>
      <% else %>
        <div class="program-card__placeholder"></div>
      <% end %>
      <div class="program-card__overlay">
        <span class="program-card__title"><%= program.workout %></span>
      </div>
    <% end %>
  <% end %>
</div>
