.btn-muscu-chat {
  background: #a173D9 !important;
  color: white !important;
  font-weight: 700 !important;
  border-radius: 4px !important;
  padding: 8px 16px !important;
  border: none !important;
  font-size: 14px !important;
  letter-spacing: 0.5px !important;
  transition: all 0.2s ease !important;
  box-shadow: 0 4px 4px rgba(107, 106, 106, 0.10) !important;
  text-decoration: none;
}


.btn-muscu-chat:hover {
  background: #7349a5;
  box-shadow: 0 4px 4px rgba(107, 106, 106, 0.10);
  color: white;
}

.btn-muscu-chat:active {
  transform: translateY(1px);
}


.button-muscu-chat-secondaire {
  background: white;
  color: #a173D9;
  font-weight: 700;
  border-radius: 4px;
  padding: 8px 16px;
  border: 1px, solid, #a173D9;
  border-color: #a173D9;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: all 0.2s ease;
  box-shadow: 0 4px 4px rgba(107, 106, 106, 0.10);
}

.button-muscu-chat-secondaire:hover {
  background: white;
  box-shadow: 0 4px 4px rgba(107, 106, 106, 0.10);
  color: #7349a5;
}
